* {
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    line-height: 2rem;
    /* background: linear-gradient(180deg,#d3d3d8 ,#cab0b0 ); */
    background-image: url(/images/recipes-background.jpg);
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.container {
    margin: 3rem auto;
    padding: 3rem;
    width: 60%;
    justify-content: center;
    border-style: solid;
    border-radius: 3rem;
    background-color: whitesmoke;
}

img {
    display: block;
    margin: 0 auto 3rem auto;
    width: 500px;
    height: 400px;
}

hr {
    width: 80px;
    border: none;
    border-bottom: 7px dotted rgb(155, 163, 163);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navigation {
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-radius: 3rem;
    width: 200px;
    display: block;
    margin: 0 auto
}

.navigation:hover {
    background-color: rgba(175, 164, 163, 0.3)
}

@media only screen and (max-width: 479pxpx) {
    .container {
        padding: 0;
    }

    img {
        display: block;
        align-content: center;
        width: 50px;
        height: 100px;
    }
}


@media only screen and (max-width: 767px) {
    .container {
        width: 70%;
        padding: 1rem;
    }
    img {
        display: block;
        align-content: center;
        width: 100px;
        height: 200px;
    }
}
    
@media only screen and (max-width: 991px) {
    img {
        display: block;
        align-content: center;
        width: 150px;
        height: 200px;
    }

    ol li {
        /* text-align: justify; */
        line-height: 3rem;
    }
}